@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --main-blue:#1F3C88;
    --dark-blue:#142850;
    --main-red:#C1121F;
    --text:#6B7280;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
}

/* Top Bar */

.top-bar{
    background:var(--dark-blue);
    color:white;
    padding:12px 0;
    font-size:14px;
}

/* Navbar */

.custom-navbar{
    background:white;
    padding:18px 0;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.navbar-brand img{
    width:180px;
}

.nav-link{
    color:#111827 !important;
    margin-left:20px;
    font-weight:600;
    transition:0.3s;
}

.nav-link:hover,
.nav-link.active{
    color:var(--main-red) !important;
}

/* Hero */

.hero-slide{

    min-height:100vh;

    background:
            linear-gradient(rgba(255,255,255,0.50),rgba(255,255,255,0.50)),
            url('../images/background.jpg');

    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;

    display:flex;
    align-items:center;

    padding-top:120px;
}

.slide-two{

    background:
            linear-gradient(rgba(255,255,255,0.70),rgba(255,255,255,0.70)),
            url('https://themewagon.github.io/novena/images/bg/slider-bg-2.jpg');

    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}

.hero-content{
    max-width:650px;
}

.hero-sub{
    color:var(--main-red);
    font-weight:600;
    letter-spacing:2px;
    margin-bottom:20px;
}

.hero-content h1{
    font-size:75px;
    font-weight:800;
    color:var(--dark-blue);
    line-height:1.1;
}

.hero-content p{
    color:#4B5563;
    margin:25px 0;
    line-height:1.8;
    font-size:18px;
}

/* Buttons */

.btn-main{
    background:var(--main-red);
    color:white;
    padding:15px 35px;
    border-radius:50px;
    text-decoration:none;
    transition:0.3s;
    display:inline-block;
    font-weight:600;
}

.btn-main:hover{
    background:var(--dark-blue);
    color:white;
}

/* Sections */

section{
    padding:100px 0;
}


.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:50px;
    font-weight:700;
    color:var(--dark-blue);
}

.section-title p{
    color:var(--text);
}

/* Cards */

.card-box{
    background:white;
    padding:40px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.06);
    transition:0.4s;
    height:100%;
}

.card-box:hover{
    transform:translateY(-10px);
}

.card-box img{

    width:100%;
    height:320px;

    object-fit:cover;

    border-radius:20px;

    margin-bottom:20px;

    transition:0.4s;
}

.card-box h4{
    color:var(--dark-blue);
    font-weight:700;
    margin-bottom:15px;
}

.card-box p{
    color:var(--text);
}

.icon{
    color:var(--main-red);
    margin-bottom:20px;
}

/* Inner Hero */

.inner-hero{

    padding-top:120px;
    padding-bottom:120px;

    background:
            linear-gradient(rgba(255,255,255,0.80),rgba(255,255,255,0.80)),
            url('https://themewagon.github.io/novena/images/bg/22.jpg');

    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}

.inner-hero h1{
    font-size:60px;
    font-weight:800;
    color:var(--dark-blue);
}

/* Search */

.search-box{
    max-width:500px;
    margin:auto;
}

/* Contact */

.contact-form input,
.contact-form textarea{
    border:none;
    background:#F4F9FC;
    padding:15px;
    border-radius:12px;
    margin-bottom:20px;
}

.contact-form textarea{
    height:180px;
    resize:none;
}

/* Footer */

footer{
    background:var(--dark-blue);
    color:white;
    text-align:center;
    padding:50px 0;
}

.social-icons a{
    color:white;
    margin:0 10px;
    font-size:22px;
}

/* WhatsApp */

.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;

    width:60px;
    height:60px;

    background:#25D366;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    color:white;
    font-size:28px;

    z-index:999;

    margin-right: 90px;
}

/* Scroll Top */

.scroll-top{

    position:fixed;

    bottom:95px;
    right:20px;

    width:60px;
    height:60px;

    border:none;
    border-radius:50%;

    background:#C1121F;

    color:white;

    font-size:22px;

    display:flex;

    align-items:center;
    justify-content:center;

    cursor:pointer;

    z-index:99999;

    opacity:0;
    visibility:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,0.25);

    transition:0.3s;
}

.scroll-top:hover{

    background:#142850;
    transform:translateY(-5px);

}

/* Responsive */

@media(max-width:768px){

    .hero-content h1{
        font-size:45px;
    }

    .section-title h2{
        font-size:35px;
    }

}
/* Scroll To Top */

#scrollTopBtn{

    position:fixed;

    bottom:30px;
    right:30px;

    width:60px;
    height:60px;

    border:none;

    border-radius:50%;

    background:#C1121F;

    color:white;

    font-size:28px;

    font-weight:bold;

    cursor:pointer;

    display:none;

    z-index:999999;

    box-shadow:0 10px 25px rgba(0,0,0,0.25);

    transition:0.3s;
}

#scrollTopBtn:hover{

    background:#142850;

    transform:translateY(-5px);

}
